*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(assests/withe\ image.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;

  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: whitesmoke;
}

h1 {
  line-height: 1.5;
}

button {
  border-radius: 100vmax;
  border: 0;
  padding: 1em 2.5em;
  cursor: pointer;
  background-color: #ffc400c0;
  color: white;
}
button:hover,
:focus-visible {
  background-color: #ffc400;
}

.separation {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.data-switcher:hover {
  background-color: #0053d0;
}

table {
  border-collapse: collapse;
  border-radius: 50px;
  width: 100%;
  border: 1px solid #0053d0;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #0053d0;
  color: white;
  position: sticky;
  top: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

input {
  border-radius: 100vmax;
  border: 1px solid #ffc400c0;
  padding: 1em 2.5em;
  cursor: pointer;
  color: white;
}

input:focus {
  border: 1px solid #ffc400c0;
  background-color: #0053d04d;
  color: black;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 245, 245, 0.9);
}

.container {
  margin-inline: auto;
  width: min(90%, 75rem);
  padding: 1rem;
  /* border: 1px solid #0053d0; */
}

.even-columns {
  display: grid;
  gap: 1rem;
  padding-top: 10vh;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
}

section {
  display: grid;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

section div h1,
p {
  padding: 1rem;
  text-align: center;
}

section h1,
section p {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

#image-cropper {
  display: grid;
  place-items: center;
}

.nav-wraper,
.dev-lenguages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: #0053d0;
}

#staffTable {
  font-size: 1.5vw;
}
